In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income"

In [19]:
tables = pd.read_html(url)
tables

AttributeError: 'list' object has no attribute 'type'

In [11]:
df = tables[6]
df.columns = ['Rank', 'State', '2017', '2016', 
              '2015', '2014']
df.head()

ValueError: Length mismatch: Expected axis has 2 elements, new values have 6 elements

In [21]:
df = tables[4]
df.head()

,Rank,State or territory,Per capitaincome,Medianhouseholdincome,Medianfamilyincome,Population,Number ofhouseholds,Number offamilies
0,1.0,District of Columbia,"$45,877","$71,648","$84,094",658893,277378,117864
1,2.0,Connecticut,"$39,373","$70,048","$88,819",3596677,1355817,887263
2,3.0,New Jersey,"$37,288","$69,160","$87,951",8938175,2549336,1610581
3,4.0,Massachusetts,"$36,593","$71,919","$88,419",6938608,3194844,2203675
4,5.0,Maryland,"$36,338","$73,971","$89,678",5976407,2165438,1445972