In [1]:
import pandas as pd

In [10]:
url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income"

In [11]:
#read all tables from website and put them into a dataframe
tables = pd.read_html(url)
tables

[    0                                                  1
 0 NaN  This article needs additional citations for ve...,
                                                    0
 0                This article is part of a series on
 1              Income in theUnited States of America
 2  Topics Household Personal Affluence Social cla...
 3  Lists by income States (by equality (Gini)) Co...
 4                               United States portal
 5                                                vte,
     Rank        State or territory     2017     2016     2015     2014  \
 0    1.0      District of Columbia  $82,372  $75,506  $75,628  $71,648
 1    2.0                  Maryland  $80,776  $78,945  $75,847  $73,971
 2    3.0                New Jersey  $80,088  $76,126  $72,222  $71,919
 3    4.0                    Hawaii  $77,765  $74,511  $73,486  $69,592
 4    5.0             Massachusetts  $77,385  $75,297  $70,628  $69,160
 5    6.0               Connecticut  $74,168  $73,433  $71,346  $70,048
 6    7.0             New Hampshire  $73,381  $70,936  $70,303  $66,532
 7    8.0                    Alaska  $73,181  $76,440  $73,355  $71,583
 8    9.0                California  $71,805  $67,739  $64,500  $61,933
 9   10.0                  Virginia  $71,535  $68,114  $66,262  $64,902
 10  11.0                Washington  $70,979  $67,106  $64,129  $61,366
 11  12.0                  Colorado  $69,117  $65,685  $63,909  $61,303
 12  13.0                 Minnesota  $68,388  $65,599  $63,488  $61,481
 13  14.0                      Utah  $65,358  $65,977  $62,912  $60,922
 14  15.0                  New York  $64,894  $62,909  $60,850  $58,878
 15  16.0              Rhode Island  $63,870  $60,596  $58,073  $54,891
 16  17.0                  Illinois  $62,992  $60,960  $59,588  $57,444
 17  18.0                  Delaware  $62,852  $61,757  $61,255  $59,716
 18  19.0              North Dakota  $61,843  $60,656  $60,557  $59,029
 19  20.0                   Wyoming  $60,434  $59,882  $60,214  $57,055
 20   NaN             United States  $60,336  $57,617  $55,775  $53,657
 21  21.0                    Oregon  $60,212  $57,532  $54,148  $51,075
 22  22.0                  Nebraska  $59,970  $56,927  $54,996  $52,686
 23  23.0                 Wisconsin  $59,305  $56,811  $55,638  $52,622
 24  24.0                     Texas  $59,206  $56,565  $55,653  $53,035
 25  25.0              Pennsylvania  $59,105  $56,907  $55,702  $53,234
 26  26.0                      Iowa  $58,570  $56,247  $54,736  $53,712
 27  27.0                    Nevada  $58,003  $55,180  $52,431  $51,450
 28  28.0                   Vermont  $57,513  $57,677  $56,990  $54,166
 29  29.0                   Arizona  $56,581  $53,558  $51,492  $50,068
 30  30.0              South Dakota  $56,521  $54,467  $53,017  $50,979
 31  31.0                    Kansas  $56,422  $54,935  $53,906  $52,504
 32  32.0                   Georgia  $56,183  $53,559  $51,244  $49,321
 33  33.0                     Maine  $55,277  $53,079  $51,494  $49,462
 34  34.0                  Michigan  $54,909  $52,491  $51,084  $49,847
 35  35.0                   Indiana  $54,181  $52,314  $50,532  $49,446
 36  36.0                      Ohio  $54,021  $52,344  $51,075  $49,308
 37  37.0                  Missouri  $53,578  $51,746  $50,238  $48,363
 38  38.0                   Montana  $53,386  $50,027  $49,509  $46,328
 39  39.0            North Carolina  $52,752  $50,584  $47,830  $46,556
 40  40.0                   Florida  $52,594  $50,860  $49,426  $47,463
 41  41.0                     Idaho  $52,225  $51,807  $48,275  $47,861
 42  42.0                 Tennessee  $51,340  $48,547  $47,275  $44,361
 43  43.0            South Carolina  $50,570  $49,501  $47,238  $45,238
 44  44.0                  Oklahoma  $50,051  $49,176  $48,568  $47,529
 45  45.0                  Kentucky  $48,375  $46,659  $45,215  $42,958
 46  46.0                      Guam        —        —        —        —
 47  47.0                   Alabama  $48,123  $46,257  $44,765  $42,830
 48  48.0                New Mexico  $46,744  $46,748  $45,382  $44,803
 49  49.0                 Louisiana  $46,145  $45,146  $45,727  $44,555
 50  50.0                  Arkansas  $45,869  $44,334  $41,995  $41,262
 51  51.0               Mississippi  $43,529  $41,754  $40,593  $39,680
 52  52.0             West Virginia  $43,469  $43,385  $42,019  $41,059
 53  53.0     Virgin Islands (U.S.)        —        —        —        —
 54  54.0            American Samoa        —        —        —        —
 55  55.0  Northern Mariana Islands        —        —        —        —
 56  56.0               Puerto Rico  $19,343  $20,078  $18,626  $18,928

    2013[note 2]
 0       $67,572
 1       $72,483
 2       $70,165
 3       $68,020
 4       $66,768
 5       $67,098
 6       $64,230
 7       $72,237
 8       $60,190
 9       $62,666
 10      $58,405
 11      $58,823
 12      $60,702
 13      $59,770
 14      $57,369
 15      $55,902
 16      $56,210
 17      $57,846
 18      $55,759
 19      $58,752
 20      $52,250
 21      $50,251
 22      $51,440
 23      $51,467
 24      $51,704
 25      $52,007
 26      $52,229
 27      $51,230
 28      $52,578
 29      $48,510
 30      $48,947
 31      $50,972
 32      $47,829
 33      $46,974
 34      $48,273
 35      $47,529
 36      $48,081
 37      $46,931
 38      $46,972
 39      $45,906
 40      $46,036
 41      $46,783
 42      $44,297
 43      $44,163
 44      $45,690
 45      $43,399
 46   $48,274[3]
 47      $42,849
 48      $43,872
 49      $44,164
 50      $40,511
 51      $37,963
 52      $41,253
 53   $37,254[4]
 54   $23,892[5]
 55   $19,958[6]
 56      $19,183  ,
     0                                                  1
 0 NaN  This section needs to be updated. Please updat...,
     Rank        State or territory Per capitaincome Medianhouseholdincome  \
 0    1.0      District of Columbia          $45,877               $71,648
 1    2.0               Connecticut          $39,373               $70,048
 2    3.0                New Jersey          $37,288               $69,160
 3    4.0             Massachusetts          $36,593               $71,919
 4    5.0                  Maryland          $36,338               $73,971
 5    6.0             New Hampshire          $34,691               $66,532
 6    7.0                  Virginia          $34,052               $64,902
 7    8.0                  New York          $33,095               $58,878
 8    9.0              North Dakota          $33,071               $59,029
 9   10.0                    Alaska          $33,062               $71,583
 10  11.0                 Minnesota          $32,638               $61,481
 11  12.0                  Colorado          $32,357               $61,303
 12  13.0                Washington          $31,841               $61,366
 13  14.0              Rhode Island          $30,830               $54,891
 14  15.0                  Delaware          $30,488               $59,716
 15  16.0                California          $30,441               $61,933
 16  17.0                  Illinois          $30,417               $57,444
 17  18.0                    Hawaii          $29,736               $69,592
 18  19.0                   Wyoming          $29,698               $57,055
 19  20.0              Pennsylvania          $29,220               $53,234
 20  21.0                   Vermont          $29,178               $54,166
 21   NaN             United States          $28,889               $53,657
 22  22.0                      Iowa          $28,361               $53,712
 23  23.0                 Wisconsin          $28,213               $52,622
 24  24.0                     Maine          $27,978               $49,462
 25  25.0                    Kansas          $27,870               $52,504
 26  26.0                    Oregon          $27,646               $51,075
 27  27.0                  Nebraska          $27,446               $52,686
 28  28.0                     Texas          $27,125               $53,035
 29  29.0              South Dakota          $26,959               $50,979
 30  30.0                      Ohio          $26,937               $49,308
 31  31.0                  Michigan          $26,613               $49,847
 32  32.0                   Florida          $26,582               $47,463
 33  33.0                  Missouri          $26,126               $48,363
 34  34.0                   Montana          $25,989               $46,328
 35  35.0            North Carolina          $25,774               $46,556
 36  36.0                    Nevada          $25,773               $51,450
 37  37.0                   Arizona          $25,715               $50,068
 38  38.0                   Georgia          $25,615               $49,321
 39  39.0                  Oklahoma          $25,229               $47,529
 40  40.0                   Indiana          $25,140               $49,446
 41  41.0                 Tennessee          $24,922               $44,361
 42  42.0                      Utah          $24,877               $60,922
 43  43.0                 Louisiana          $24,800               $44,555
 44  44.0            South Carolina          $24,596               $45,238
 45  45.0                     Idaho          $23,938               $47,861
 46  46.0                  Kentucky          $23,684               $42,958
 47  47.0                New Mexico          $23,683               $44,803
 48  48.0                   Alabama          $23,606               $42,830
 49  49.0                  Arkansas          $22,883               $41,262
 50  50.0             West Virginia          $22,714               $41,059
 51  51.0       U.S. Virgin Islands          $21,362               $37,254
 52  52.0               Mississippi          $21,036               $39,680
 53  53.0                      Guam          $16,549               $48,274
 54  54.0               Puerto Rico          $12,081               $19,775
 55  55.0  Northern Mariana Islands           $9,656               $19,958
 56  56.0            American Samoa           $6,311               $23,892

    Medianfamilyincome  Population  Number ofhouseholds  Number offamilies
 0             $84,094      658893               277378             117864
 1             $88,819     3596677              1355817             887263
 2             $87,951     8938175              2549336            1610581
 3             $88,419     6938608              3194844            2203675
 4             $89,678     5976407              2165438            1445972
 5             $80,581     1326813               519756             345901
 6             $78,290     8326289              3083820            2058820
 7             $71,115    19746227              7282398            4621954
 8             $75,221      739482               305431             187800
 9             $82,307      736732               249659             165015
 10            $77,941     5457173              2129195            1369594
 11            $75,405     5355866              2039592            1315283
 12            $74,193     7061530              2679601            1725099
 13            $71,212     1055173               409654             257165
 14            $72,594      935614               349743             233000
 15            $71,015    38802500             12758648            8762059
 16            $71,796    12880580              4772421            3099184
 17            $79,187     1419561               450769             314151
 18            $72,460      584153               232594             149032
 19            $67,876    12787209              4945972            3185054
 20            $67,154      626562               257229             162017
 21            $65,910   318857056            117259427           77152072
 22            $67,771     3107126              1241471             801562
 23            $67,187     5757564              2307685            1485877
 24            $62,078     1330089               549841             344585
 25            $66,425     2904021              1109280             728602
 26            $62,670     3970239              1535511             966250
 27            $66,120     1881503               740765             480317
 28            $62,830    26956958              9277197            6407165
 29            $66,936      853175               334475             211235
 30            $62,300    11594163              4593172            2923523
 31            $62,143     9909877              3834574            2485159
 32            $57,212    19893297              7328046            4693411
 33            $61,299     6063589              2354809            1508816
 34            $60,643     1023579               410962             251176
 35            $57,380     9943964              3790620            2492048
 36            $60,824     2839099              1021519             642461
 37            $59,700     6731484              2428743            1579481
 38            $58,885    10097343              3587521            2426392
 39            $58,710     3878051              1459759             966516
 40            $60,780     6596855              2502739            1657223
 41            $55,557     6549352              2509665            1660344
 42            $69,535     2942902               918370             691495
 43            $56,573     4649676              1718194            1112659
 44            $56,491     4832482              1826914            1201616
 45            $58,101     1634464               591587             407499
 46            $54,776     4413457              1712094            1124586
 47            $54,705     2085572               760916             489532
 48            $53,764     4849377              1841217            1232515
 49            $51,528     2966369              1131288             752212
 50            $52,413     1850326               735375             472869
 51            $45,058      106405                43214              26237
 52            $50,178     2994079              1095823             738463
 53            $50,607      162742                42026              34199
 54            $23,793     3195153              1222606             850665
 55            $22,455       53833                16035              10714
 56            $24,706       55519                 9688               8834  ,
   vteUnited States locations by per capita income  \
 0                                      Nationwide
 1                                 State locations
 2                                Federal district
 3                             Territory locations
 4                                   Related lists

    vteUnited States locations by per capita income.1
 0  U.S. states and territories by per capita inco...
 1  Alabama Alaska Arizona Arkansas California Col...
 2                               District of Columbia
 3  American Samoa Guam Northern Mariana Islands P...
 4  Highest-income counties in the United States H...  ,
                  vteUnited States state-related lists  \
 0   List of states and territories of the United S...
 1                                        Demographics
 2                                             Economy
 3                                         Environment
 4                                           Geography
 5                                          Government
 6                                              Health
 7                                             History
 8                                                 Law
 9                                       Miscellaneous
 10                         Category  Commons  Portals

                vteUnited States state-related lists.1
 0   List of states and territories of the United S...
 1   Population African American Amish Asian Birth ...
 2   Billionaires Budgets Companies Employment rate...
 3   Carbon dioxide emissions Botanical gardens Par...
 4   Area Bays Beaches Coastline Elevation Extreme ...
 5   Agriculture commissioners Attorneys general Ca...
 6   Fertility rates Hospitals Human Development In...
 7   Date of statehood Name etymologies Historical ...
 8   Abortion Age of consent Alcohol Dry communitie...
 9   Abbreviations Casinos Demonyms Fictional state...
 10                         Category  Commons  Portals  ]

In [12]:
#dataframe of Median income by state
raw_median_df = tables[2]

#fix column header
median_df = raw_median_df.rename(columns = {'2013[note 2]':'2013'})

median_df

,Rank,State or territory,2017,2016,2015,2014,2013
0,1.0,District of Columbia,"$82,372","$75,506","$75,628","$71,648","$67,572"
1,2.0,Maryland,"$80,776","$78,945","$75,847","$73,971","$72,483"
2,3.0,New Jersey,"$80,088","$76,126","$72,222","$71,919","$70,165"
3,4.0,Hawaii,"$77,765","$74,511","$73,486","$69,592","$68,020"
4,5.0,Massachusetts,"$77,385","$75,297","$70,628","$69,160","$66,768"
5,6.0,Connecticut,"$74,168","$73,433","$71,346","$70,048","$67,098"
6,7.0,New Hampshire,"$73,381","$70,936","$70,303","$66,532","$64,230"
7,8.0,Alaska,"$73,181","$76,440","$73,355","$71,583","$72,237"
8,9.0,California,"$71,805","$67,739","$64,500","$61,933","$60,190"
9,10.0,Virginia,"$71,535","$68,114","$66,262","$64,902","$62,666"
10,11.0,Washington,"$70,979","$67,106","$64,129","$61,366","$58,405"
11,12.0,Colorado,"$69,117","$65,685","$63,909","$61,303","$58,823"
12,13.0,Minnesota,"$68,388","$65,599","$63,488","$61,481","$60,702"
13,14.0,Utah,"$65,358","$65,977","$62,912","$60,922","$59,770"
14,15.0,New York,"$64,894","$62,909","$60,850","$58,878","$57,369"
15,16.0,Rhode Island,"$63,870","$60,596","$58,073","$54,891","$55,902"
16,17.0,Illinois,"$62,992","$60,960","$59,588","$57,444","$56,210"
17,18.0,Delaware,"$62,852","$61,757","$61,255","$59,716","$57,846"
18,19.0,North Dakota,"$61,843","$60,656","$60,557","$59,029","$55,759"
19,20.0,Wyoming,"$60,434","$59,882","$60,214","$57,055","$58,752"
20,NaN,United States,"$60,336","$57,617","$55,775","$53,657","$52,250"
21,21.0,Oregon,"$60,212","$57,532","$54,148","$51,075","$50,251"
22,22.0,Nebraska,"$59,970","$56,927","$54,996","$52,686","$51,440"
23,23.0,Wisconsin,"$59,305","$56,811","$55,638","$52,622","$51,467"
24,24.0,Texas,"$59,206","$56,565","$55,653","$53,035","$51,704"
25,25.0,Pennsylvania,"$59,105","$56,907","$55,702","$53,234","$52,007"
26,26.0,Iowa,"$58,570","$56,247","$54,736","$53,712","$52,229"
27,27.0,Nevada,"$58,003","$55,180","$52,431","$51,450","$51,230"
28,28.0,Vermont,"$57,513","$57,677","$56,990","$54,166","$52,578"
29,29.0,Arizona,"$56,581","$53,558","$51,492","$50,068","$48,510"
30,30.0,South Dakota,"$56,521","$54,467","$53,017","$50,979","$48,947"
31,31.0,Kansas,"$56,422","$54,935","$53,906","$52,504","$50,972"
32,32.0,Georgia,"$56,183","$53,559","$51,244","$49,321","$47,829"
33,33.0,Maine,"$55,277","$53,079","$51,494","$49,462","$46,974"
34,34.0,Michigan,"$54,909","$52,491","$51,084","$49,847","$48,273"
35,35.0,Indiana,"$54,181","$52,314","$50,532","$49,446","$47,529"
36,36.0,Ohio,"$54,021","$52,344","$51,075","$49,308","$48,081"
37,37.0,Missouri,"$53,578","$51,746","$50,238","$48,363","$46,931"
38,38.0,Montana,"$53,386","$50,027","$49,509","$46,328","$46,972"
39,39.0,North Carolina,"$52,752","$50,584","$47,830","$46,556","$45,906"
40,40.0,Florida,"$52,594","$50,860","$49,426","$47,463","$46,036"
41,41.0,Idaho,"$52,225","$51,807","$48,275","$47,861","$46,783"
42,42.0,Tennessee,"$51,340","$48,547","$47,275","$44,361","$44,297"
43,43.0,South Carolina,"$50,570","$49,501","$47,238","$45,238","$44,163"
44,44.0,Oklahoma,"$50,051","$49,176","$48,568","$47,529","$45,690"
45,45.0,Kentucky,"$48,375","$46,659","$45,215","$42,958","$43,399"
46,46.0,Guam,—,—,—,—,"$48,274[3]"
47,47.0,Alabama,"$48,123","$46,257","$44,765","$42,830","$42,849"
48,48.0,New Mexico,"$46,744","$46,748","$45,382","$44,803","$43,872"
49,49.0,Louisiana,"$46,145","$45,146","$45,727","$44,555","$44,164"
50,50.0,Arkansas,"$45,869","$44,334","$41,995","$41,262","$40,511"
51,51.0,Mississippi,"$43,529","$41,754","$40,593","$39,680","$37,963"
52,52.0,West Virginia,"$43,469","$43,385","$42,019","$41,059","$41,253"
53,53.0,Virgin Islands (U.S.),—,—,—,—,"$37,254[4]"
54,54.0,American Samoa,—,—,—,—,"$23,892[5]"
55,55.0,Northern Mariana Islands,—,—,—,—,"$19,958[6]"
56,56.0,Puerto Rico,"$19,343","$20,078","$18,626","$18,928","$19,183"

In [13]:
#pivot to get value by year

pvt_median_df = pd.melt(median_df,id_vars=['State or territory'], value_vars=['2017','2016', '2015', '2014', '2013'])

pvt_median_df.tail(10)

           State or territory variable       value
275                   Alabama     2013     $42,849
276                New Mexico     2013     $43,872
277                 Louisiana     2013     $44,164
278                  Arkansas     2013     $40,511
279               Mississippi     2013     $37,963
280             West Virginia     2013     $41,253
281     Virgin Islands (U.S.)     2013  $37,254[4]
282            American Samoa     2013  $23,892[5]
283  Northern Mariana Islands     2013  $19,958[6]
284               Puerto Rico     2013     $19,183

In [14]:
pvt_median_df.dtypes

State or territory    object
variable              object
value                 object
dtype: object

In [15]:
#Income data is a object, will remove ($) and extraneous (,). 
pvt_median_df.value = pvt_median_df['value'].str.strip('$').str.replace(',','')


#remove rows 281-284, since they are territories, not states

pvt_median_df = pvt_median_df.iloc[:281] 


# check result
pvt_median_df.tail(10)

    State or territory variable     value
271     South Carolina     2013     44163
272           Oklahoma     2013     45690
273           Kentucky     2013     43399
274               Guam     2013  48274[3]
275            Alabama     2013     42849
276         New Mexico     2013     43872
277          Louisiana     2013     44164
278           Arkansas     2013     40511
279        Mississippi     2013     37963
280      West Virginia     2013     41253

In [17]:
# Guam is also a territory, remove Guam from dataset

In [23]:
pvt_median_df = pvt_median_df.drop(pvt_median_df.index[274])

In [24]:
pvt_median_df

       State or territory variable  value
0    District of Columbia     2017  82372
1                Maryland     2017  80776
2              New Jersey     2017  80088
3                  Hawaii     2017  77765
4           Massachusetts     2017  77385
5             Connecticut     2017  74168
6           New Hampshire     2017  73381
7                  Alaska     2017  73181
8              California     2017  71805
9                Virginia     2017  71535
10             Washington     2017  70979
11               Colorado     2017  69117
12              Minnesota     2017  68388
13                   Utah     2017  65358
14               New York     2017  64894
15           Rhode Island     2017  63870
16               Illinois     2017  62992
17               Delaware     2017  62852
18           North Dakota     2017  61843
19                Wyoming     2017  60434
20          United States     2017  60336
21                 Oregon     2017  60212
22               Nebraska     2017  59970
23              Wisconsin     2017  59305
24                  Texas     2017  59206
25           Pennsylvania     2017  59105
26                   Iowa     2017  58570
27                 Nevada     2017  58003
28                Vermont     2017  57513
29                Arizona     2017  56581
..                    ...      ...    ...
250              Nebraska     2013  51440
251             Wisconsin     2013  51467
252                 Texas     2013  51704
253          Pennsylvania     2013  52007
254                  Iowa     2013  52229
255                Nevada     2013  51230
256               Vermont     2013  52578
257               Arizona     2013  48510
258          South Dakota     2013  48947
259                Kansas     2013  50972
260               Georgia     2013  47829
261                 Maine     2013  46974
262              Michigan     2013  48273
263               Indiana     2013  47529
264                  Ohio     2013  48081
265              Missouri     2013  46931
266               Montana     2013  46972
267        North Carolina     2013  45906
268               Florida     2013  46036
269                 Idaho     2013  46783
270             Tennessee     2013  44297
271        South Carolina     2013  44163
272              Oklahoma     2013  45690
273              Kentucky     2013  43399
275               Alabama     2013  42849
276            New Mexico     2013  43872
277             Louisiana     2013  44164
278              Arkansas     2013  40511
279           Mississippi     2013  37963
280         West Virginia     2013  41253

[280 rows x 3 columns]

In [31]:
pvt_median_df = pvt_median_df.drop([46,53,54,55,103,110,111,112,160,167,168,169,217,224,225,226])

In [32]:
pvt_median_df

       State or territory variable  value
0    District of Columbia     2017  82372
1                Maryland     2017  80776
2              New Jersey     2017  80088
3                  Hawaii     2017  77765
4           Massachusetts     2017  77385
5             Connecticut     2017  74168
6           New Hampshire     2017  73381
7                  Alaska     2017  73181
8              California     2017  71805
9                Virginia     2017  71535
10             Washington     2017  70979
11               Colorado     2017  69117
12              Minnesota     2017  68388
13                   Utah     2017  65358
14               New York     2017  64894
15           Rhode Island     2017  63870
16               Illinois     2017  62992
17               Delaware     2017  62852
18           North Dakota     2017  61843
19                Wyoming     2017  60434
20          United States     2017  60336
21                 Oregon     2017  60212
22               Nebraska     2017  59970
23              Wisconsin     2017  59305
24                  Texas     2017  59206
25           Pennsylvania     2017  59105
26                   Iowa     2017  58570
27                 Nevada     2017  58003
28                Vermont     2017  57513
29                Arizona     2017  56581
..                    ...      ...    ...
250              Nebraska     2013  51440
251             Wisconsin     2013  51467
252                 Texas     2013  51704
253          Pennsylvania     2013  52007
254                  Iowa     2013  52229
255                Nevada     2013  51230
256               Vermont     2013  52578
257               Arizona     2013  48510
258          South Dakota     2013  48947
259                Kansas     2013  50972
260               Georgia     2013  47829
261                 Maine     2013  46974
262              Michigan     2013  48273
263               Indiana     2013  47529
264                  Ohio     2013  48081
265              Missouri     2013  46931
266               Montana     2013  46972
267        North Carolina     2013  45906
268               Florida     2013  46036
269                 Idaho     2013  46783
270             Tennessee     2013  44297
271        South Carolina     2013  44163
272              Oklahoma     2013  45690
273              Kentucky     2013  43399
275               Alabama     2013  42849
276            New Mexico     2013  43872
277             Louisiana     2013  44164
278              Arkansas     2013  40511
279           Mississippi     2013  37963
280         West Virginia     2013  41253

[264 rows x 3 columns]

In [33]:
# change value column to integer
pvt_median_df.value = pvt_median_df['value'].astype('int') 
# pvt_median_df.dtypes

In [36]:
#write to CSV file
pvt_median_df.to_csv("median_state.csv", index=False, header=True)